@import "../style.scss";

li {
  display: inline-block;
  font-size: 10px;
  font-family: $font-click;
  font-weight: 500;
  border: 0.8px solid #4d5b9e;
  border-radius: 8px;
  margin: 0 13px 5px 0;
  padding: 3px 6px;
  min-width: 80px;
  text-align: center;
  cursor: pointer;
}

.defaultCursor {
  cursor: default;
}

.selectedAnswer {
  background: $selected-answer-color;
}

.correctAnswer {
  background: $correct-answer-color;
}

.incorrectAnswer {
  background: $incorrect-answer-color;
}
