@import "../style.scss";

.selectedAnswer {
  background: $selected-answer-color;
}

.correctAnswer {
  background: $correct-answer-color;
}

.incorrectAnswer {
  background: $incorrect-answer-color;
}
