@import "../style.scss";

.checkAnswersBtn,
.disabledBtn {
  @include small-button();
}

.checkAnswersBtn,
.disabledBtn {
  margin-top: 15px;
  margin-bottom: 30px;
  width: 120px;
  min-height: 35px;
}

.disabledBtn {
  background: rgb(77, 91, 158, 0.5);
  cursor: not-allowed;
}
