@import "./style.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #546663;
  height: 100vh;
  font-family: $font-stack;
  color: $primary-color;
  @include center-div();
}

.firstPage,
.quizPage {
  width: 550px;
  height: 550px;
  background: #f5f7fb;
  @include center-div();
  flex-direction: column;
  gap: 15px;
  position: relative;
  overflow: hidden;

  .startQuizBtn {
    background: $button-color;
    color: #f5f7fb;
    font-family: $font-click;
    font-weight: 500;
    font-size: 1rem;
    line-height: 19px;
    width: 193px;
    height: 52px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:active {
      box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
    }
  }

  .yellowCorner,
  .blueCorner,
  .smallYellowCorner,
  .smallBlueCorner {
    height: 235px;
    width: 297px;
    position: absolute;
  }

  .yellowCorner,
  .smallYellowCorner {
    background: #fffad1;
    border-radius: 167px 148px / 60px 143px;
    transform: rotate(-125deg);
  }

  .blueCorner,
  .smallBlueCorner {
    background: #deebf8;
    border-radius: 256px 118px / 148px 224px;
  }

  .yellowCorner {
    left: 375px;
    top: -125px;
  }

  .blueCorner {
    left: -133px;
    top: 412px;
    transform: rotate(5deg);
  }

  .smallYellowCorner {
    left: 465px;
    top: -125px;
  }

  .smallBlueCorner {
    left: -234px;
    top: 370px;
    transform: rotate(438deg);
  }
}

.quizPage {
  justify-content: start;
  overflow: auto;
  padding: 40px 65px 0 65px;

  .questionAnswer {
    border-bottom: 1px solid #dbdef0;
    width: 100%;
  }

  .questions {
    line-height: 19px;
    margin: 0 0 10px 0;
    font-size: 0.9rem;
  }
  .answers {
    margin: 10px 0 17px 0;
    padding-left: 0;
  }
}
