$font-stack: "Karla", sans-serif;
$font-click: "Inter", sans-serif;
$primary-color: #293264;
$button-color: #4d5b9e;
$selected-answer-color: #d6dbf5;
$correct-answer-color: #94d7a2;
$incorrect-answer-color: #f8bcbc;

@mixin center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin small-button {
  background: $button-color;
  color: #f5f7fb;
  border-radius: 10px;
  cursor: pointer;
  font-size: 10px;
  font-family: $font-click;
  font-weight: 500;
}
